name: Linux Build Status

on:
  workflow_dispatch:
    branches: [ "main", "release" ]
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Install Prerequisites
      run: sudo apt install g++ make git cmake python3-dev

    - name: Configure
      run: cmake -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -D VXSDR_BUILD_DEPENDENCIES=ON -S ${{github.workspace}} -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
