name: Windows Build Status

on:
  workflow_dispatch:
    branches: [ "main", "release" ]
  # Disabling these until build fixed
  #push:
  #  branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v6

    - uses: actions/github-script@v8
      with:
        script: |
          core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
          core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

    - name: Set Build Type
      run: |
        & "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvarsall.bat" x64

    - name: Configure
      run: cmake -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -D VXSDR_BUILD_DEPENDENCIES=ON -D VXSDR_BUILD_UTILITIES=OFF -S ${{github.workspace}} -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
