name: macOS Build Status

on:
  workflow_dispatch:
    branches: [ "main", "release" ]
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-26

    steps:
    - uses: actions/checkout@v6

    - name: Install Prerequisites
      run:  brew install cmake git

    - name: Configure
      run: cmake -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -D VXSDR_BUILD_DEPENDENCIES=ON -S ${{github.workspace}} -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
