name: macOS Build Status

on:
  workflow_dispatch:
    branches: [ "main", "release" ]
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-14

    steps:
    - uses: actions/checkout@v6

    - name: Install Prerequisites
      run:  brew install cmake boost spdlog pybind11

    - name: Configure
      run: cmake -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -S ${{github.workspace}} -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
