name: Windows Build Status

on:
  workflow_dispatch:
    branches: [ "main", "release" ]
  # Disabling these until build fixed
  #push:
  #  branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v6

    - uses: actions/github-script@v8
      with:
        script: |
          core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
          core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

    - name: Set Build Type
      run: |
        & "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvarsall.bat" x64

    - name: Install Prerequisites
      run: vcpkg install asio:x64-windows boost-lockfree:x64-windows spdlog:x64-windows pybind11:x64-windows --binarysource="clear;x-gha,readwrite"
      # run: vcpkg install boost-program-options:x64-windows boost-asio:x64-windows boost-lockfree:x64-windows spdlog:x64-windows pybind11:x64-windows --binarysource="clear;x-gha,readwrite"

    - name: Configure
      run: cmake -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DVXSDR_STANDALONE_ASIO=ON -DVXSDR_BUILD_UTILITIES=OFF -S ${{github.workspace}} -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
